<%-include("../layout/adminheader.ejs")-%>
</head>
<style>
    body{
    min-height: 100%;
    background-color: #ffffff;
}
</style>
<body>
<%-include("../partials/adminnavbar.ejs")-%>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <a href="/admin" class="m-5" style="text-decoration:wavy;color: black;font-size: 22px;font-weight: bold;">DASHBOARD</a>
            <a id="openModalBtn" class="btn float-end m-3" style="background-color: blue !important; color: white;"><small><i class="bi bi-download pe-2"></i>Sales Report</small></a>
            <a class="dropdown-toggle float-end m-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
                Select Time
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item"  onclick="updatecount('/admin/count-orders-by-day')">Day</a></li>
                <li><a class="dropdown-item"  onclick="updatecount('/admin/count-orders-by-month')">Month</a></li>
                <li><a class="dropdown-item"  onclick="updatecount('/admin/count-orders-by-year')">Year</a></li>
            </ul>
        </div>
        <!-- Sales Card -->
<div class="col-xl-4 col-md-6 mb-3" style="z-index: -1;">
    <div class="card info-card sales-card" style="background-color: rgba(0, 128, 128, 0.5);"> <!-- Adjust the RGBA values as needed -->
        <div class="card-body">
            <h5 class="card-title">Sales </h5>
            <!-- <h5 class="card-title">Sales <span>| Today</span></h5> -->
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                    <h6><%= totalSales %></h6>
                    <!-- <span class="text-success small pt-1 fw-bold">12%</span>
                    <span class="text-muted small pt-2 ps-1">increase</span> -->
                </div>
            </div>
        </div>
    </div>
</div><!-- End Sales Card -->

<!-- Revenue Card -->
<div class="col-xl-4 col-md-6 mb-3" style="z-index: -1;">
    <div class="card info-card revenue-card" style="background-color: rgba(0, 128, 128, 0.5);"> <!-- Adjust the RGBA values as needed -->
        <div class="card-body">
            <h5 class="card-title">Revenue </h5>
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                    <h6>₹ <%= totalRevenue %></h6>
                    <!-- <span class="text-success small pt-1 fw-bold">8%</span>
                    <span class="text-muted small pt-2 ps-1">increase</span> -->
                </div>
            </div>
        </div>
    </div>
</div><!-- End Revenue Card -->

<!-- Customers Card -->
<div class="col-xxl-4 col-xl-4 mb-3" style="z-index: -1;">
    <div class="card info-card customers-card" style="background-color: rgba(0, 128, 128, 0.5);"> <!-- Adjust the RGBA values as needed -->
        <div class="card-body">
            <h5 class="card-title">Customers </h5>
            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                    <h6><%= customers %></h6>
                    <!-- <span class="text-danger small pt-1 fw-bold">12%</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span> -->
                </div>
            </div>
        </div>
    </div>
</div><!-- End Customers Card -->

        <div class="col-12 mb-5" style="z-index: -1;">
            <div class="card">

            <div class="card-body">
                <h5 class="card-title">Reports <span> ( Sales/Order )</span></h5>

                <!-- Line Chart -->
                <canvas id="reportsChart" height="100" ></canvas>


            </div>

            </div>
        </div>
         <!-- Pie Chart -->
         <div class="col-lg-6 mb-5" style="z-index: -1;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pie Chart<span> ( Sales/Order )</span></h5>
                    <canvas id="pieChart" style="max-height: 400px;height: 0px;width: 0px;"></canvas>

                </div>
            </div>
        </div>
        <!-- End Pie Chart -->

        <!-- Bar Chart -->
        <div class="col-lg-6 mb-5" style="z-index: -1;">
            <div class="card" style="height: 465px;">
                <div class="card-body">
                    <h5 class="card-title">Bar Chart<span> ( Sales/Amount )</span></h5>
                    <canvas id="barChart" style="max-height: 400px;height: 0px;width: 0px;"></canvas>
                    
                </div>
            </div>
        </div>
          
         <!-- Recent Sales -->
         <div class="col-12 mb-4" style="z-index: -1;">
            <div class="card recent-sales overflow-auto">


            <div class="card-body">
                <h5 class="card-title">Recent Sales </h5>

                <table class="table table-borderless ">
                <thead class="text-center" style="font-size: 16px;">
                    <tr>
                    <th scope="col">Si.No</th>
                    <th scope="col">Product</th>
                    <th scope="col">Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Order Status</th>
                    </tr>
                </thead>
                <tbody >

                    <% recentOrders.forEach((data,index) => { %>

                        <tr >
                            <th class="text-center" scope="row"><a href="#" style="text-decoration: none;"><%= index + 1 %></a></th>
                            <td class="text-center"><%= data.products %></td>
                            <td class="text-center"><%= data.orderdate.toLocaleDateString() %></td>
                            <td class="text-center">₹ <%= data.totalAmount %></td>


                            <% if (data.PaymentStatus=="Paid") { %>
                                <td class="text-center"><span class="badge bg-success"><%= data.PaymentStatus %></span></td>
                            <% } else if (data.PaymentStatus=="Pending") { %>
                                <td class="text-center"><span class="badge bg-warning"><%= data.PaymentStatus %></span></td>
                            <% } else if (data.PaymentStatus=="Refunded") { %>
                                <td class="text-center"><span class="badge bg-info"><%= data.PaymentStatus %></span></td>
                            <% } %>
                            


                            <% if (data.orderStatus=="Order Delivered") { %>
                                <td class="text-center"><span class="badge bg-success"><%= data.orderStatus %></span></td>
                            <% } else if (data.orderStatus=="Cancelled") { %>
                                <td class="text-center"><span class="badge bg-danger"><%= data.orderStatus %></span></td>
                            <% } else { %>
                                <td class="text-center"><span class="badge bg-warning"><%= data.orderStatus %></span></td>
                            <% } %>
                           
                        </tr>

                    <% }) %>
                    

                </tbody>
                </table>

            </div>

            </div>
        </div><!-- End Recent Sales -->

         <!-- Top Selling -->
         <div class="col-12 mb-3" style="z-index: -1;">
            <div class="card top-selling overflow-auto">


            <div class="card-body pb-0" >
                <h5 class="card-title">Top Selling </h5>

                <table class="table table-borderless" >
                <thead class="text-center" style="font-size: 16px;">
                    <tr>
                    <th scope="col">Si.No</th>
                    <th scope="col">Preview</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sold</th>
                    <th scope="col">Approx. Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <% topSelling.forEach((data,index) => { %>

                        <tr>
                            <th class="text-center" scope="row"><%= index + 1 %></a></th>
                            <td class="text-center"><a href="#"><img src="/productimages/<%= data?.productInfo?.images[0] %>" style="width: 50px;height: 50px;" alt=""></td>
                            <td class="text-center"><a href="#" class="text-primary fw-bold"><%= data.productInfo?.productName %></a></td>
                            <td class="text-center">₹ <%= data.productInfo?.grandprice %></td>
                            <td class="fw-bold text-center"><%= data?.totalQuantity %></td>
                            <td class="text-center">₹ <%= data?.productInfo?.grandprice *  data?.totalQuantity %></td>
                        </tr>

                    <% }) %>
                    
                </tbody>
                </table>

            </div>

            </div>
        </div><!-- End Top Selling -->
        <h5 class="card-title mb-3">Top-Performing Category </h5>
        <% result.forEach(ele=>{ %>
            <div class="col-md-6 col-lg-4">
                
              <div
                class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card"
              >
                <div class="widget-content">
                  <div class="widget-content-outer">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left pr-2 fsize-1">
                        <div class="widget-numbers mt-0 fsize-3 text-danger">
                        <%-ele.totalQuantity %>%
                        </div>
                      </div>
                      <div class="widget-content-right w-100">
                        <div class="progress-bar-xs progress">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            aria-valuenow="<%-ele.totalQuantity-%>"
                            aria-valuemin="0"
                            aria-valuemax="100"
                         
                            id="progressBar<%- ele._id %>"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="widget-content-left fsize-1">
                      <div class="text " style="color: #95109e;"><%-ele.categoryName-%></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="salesreport" action="/admin/downloadsales" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Download SalesReport</h5>
                    <button type="button" class="close" data-dismiss="modal" style="background: none;font-size: 29px;border: none;" aria-label="Close" onclick="window.location.reload();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="customDateOptions">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="StartDate" class="col-form-label">Start-Date:</label>
                                <input type="date" class="form-control" id="StartDate" name="startDate">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="EndDate" class="col-form-label">End-Date:</label>
                                <input type="date" class="form-control" id="EndDate" name="endDate">
                            </div>
                            <div class="form-group col-md-4 d-flex justify-content-end align-items-end">
                                <button type="button" class="btn btn-sm btn-primary" id="latestIntervalOptionBtn">Choose Latest Interval</button>
                            </div>
                        </div>
                    </div>
                    <div id="latestIntervalOptions" style="display: none;">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="Year" class="col-form-label">Latest Interval:</label>
                                <select name="interval" class="form-select" id="Year">
                                    <option value="">Options</option>
                                    <option value="day">Today</option>
                                    <option value="month">Current Month</option>
                                    <option value="week">Current Week</option>
                                    <option value="year">Current year</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 d-flex justify-content-end align-items-end">
                                <button type="button" class="btn btn-sm btn-primary" id="customDateOptionBtn">Choose Custom Date</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="downloadFormat" class="col-form-label ps-3">Download Format</label>
                    <select name="downloadformat" class="form-select" id="downloadFormat" style="width: 80%;margin-left: 10%;" onchange="checkButtonState()">
                        <option value="">Select Format</option>
                        <option value="pdf">Pdf</option>
                        <option value="excell">excell</option>
                    </select>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload();">Close</button>
                    <button type="submit" class="btn btn-primary" id="Download" disabled >Download</button>
                </div>
         </form>   
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">

<!-- Include SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    updatecount("/admin/count-orders-by-day");
</script>

<script>
     
    // Get a reference to the modal element
    const salesReportModal = document.getElementById('exampleModal');

    // Function to open the modal
    function openSalesReportModal() {
        // Create a new modal instance
        const modal = new bootstrap.Modal(salesReportModal);

        // Show the modal
        modal.show();
    }

    // Example: Open the modal when a button with id="openModalBtn" is clicked
    const openModalBtn = document.getElementById('openModalBtn');
    openModalBtn.addEventListener('click', openSalesReportModal);

    $(document).ready(function() {
    // Function to reset the input fields
    function resetInputFields() {
        $('#StartDate').val(''); // Reset start date input
        $('#EndDate').val(''); // Reset end date input
        $('#Year').val(''); // Reset interval select
    }

    $('#customDateOptionBtn').click(function() {
        console.log("Custom Date button clicked");
        $('#customDateOptions').show();
        $('#latestIntervalOptions').hide();
        // Reset the input fields when switching to custom date option
        resetInputFields();
    });

    $('#latestIntervalOptionBtn').click(function() {
        console.log("Latest Interval button clicked");
        $('#customDateOptions').hide();
        $('#latestIntervalOptions').show();
        // Reset the input fields when switching to latest interval option
        resetInputFields();
    });
});

    function checkButtonState() {
        var downloadFormat = document.getElementById("downloadFormat").value;
        var startDate = document.getElementById("StartDate").value;
        var endDate = document.getElementById("EndDate").value;
        var year = document.getElementById("Year").value;

        if (downloadFormat && ((startDate && endDate) != null || year != null)) {
            document.getElementById("Download").disabled = false;
        } else {
            document.getElementById("Download").disabled = true;
        }
    }

    document.getElementById("StartDate").addEventListener("input", checkButtonState);
    document.getElementById("EndDate").addEventListener("input", checkButtonState);
    document.getElementById("Year").addEventListener("input", checkButtonState);

    function showSweetAlert(title, message, icon) {
        Swal.fire({
            title: title,
            text: message,
            icon: icon
        });
    }

    function submitForm(event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Get form data
        let startDate = $('#StartDate').val();
        let endDate = $('#EndDate').val();
        let interval = $('#Year').val();
        let downloadFormat = $('#downloadFormat').val();

        console.log(startDate, endDate, interval, downloadFormat);
        // Check if start date and end date are greater than the current date
        let currentDate = new Date();
        let selectedStartDate = new Date(startDate);
        let selectedEndDate = new Date(endDate);
        console.log(currentDate);
        if (selectedStartDate > currentDate || selectedEndDate > currentDate) {
            console.log("errrrrrr");
            // Show SweetAlert error message
            showSweetAlert("Error", "Please select a valid date range.", "error");
            return; // Stop further execution
        } else if (selectedStartDate > selectedEndDate) {
            // Show SweetAlert error message
            showSweetAlert("Error", "Please select a valid date range.", "error");
            return; // Stop further execution
        }

        const data = {
            startDate: startDate,
            endDate: endDate,
            interval: interval,
            downloadformat: downloadFormat
        };

        // Perform form submission
        document.getElementById("salesreport").submit();

        // If you want to perform AJAX request instead of form submission, uncomment the following lines
        // $.ajax({
        //     type: 'POST',
        //     url: '/admin/downloadsales',
        //     data: data,
        //     success: function(response) {
        //         if (response.errorMessage) {
        //             // Show error message using SweetAlert
        //             showSweetAlert("Error", response.errorMessage, "error");
        //         } 
        //     },
        //     error: function(xhr, status, error) {
        //         // Handle error
        //         console.error(error);
        //     }
        // });
        }

        // Add an event listener to the button to call the submitForm function
        document.getElementById("Download").addEventListener("click", submitForm);

</script>
<% if (typeof successMessage !== 'undefined' && successMessage !== null) { %>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '<%= successMessage %>',
            showConfirmButton: false,
            timer: 3000
        });
    </script>
<% } %>
<% if (typeof errorMessage !== 'undefined' && errorMessage !== null) { %>
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '<%= errorMessage %>',
            showConfirmButton: false,
            timer: 3000
        });
    </script>
<% } %>
<%-include("../layout/adminfooter.ejs")-%>