<%-include("../layout/adminheader.ejs")-%>
<%-include("../layout/admincentre.ejs")-%>
<style>
  /* Styles for the confirmation message */
  .confirmation-message {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 9999;
  }

  .confirmation-message p {
      margin: 0;
  }

  .confirmation-message-buttons {
      margin-top: 10px;
  }
  .btn-s{
    border: none;
    border-radius: 20%;
  }
</style>
<%-include("../partials/adminnavbar.ejs")-%>
<!-- <div class="main"> -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
          <p><%=message %></p>
        </div>
        <div class="modal-footer">

          <a href="/admin/product"><button type="button" class="btn btn-primary">OK</button></a>
        </div>
      </div>
    </div>
  </div>
<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <a href="/admin/product" class="m-5" style="text-decoration:wavy;color: black;font-size: 22px;font-weight: bold;">PRODUCTS</a>
            <a href="/admin/addproducts" class="btn  float-end m-3" style="background-color: blue !important; color: white;"><small>Add Product</small></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div id="confirmationMessage" class="confirmation-message" style="display: none;">
            <p>Are you sure you want to list/unlist ?</p>
            <div class="confirmation-message-buttons d-flex justify-content-center">
              <button type="button" class="btn-s btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="proceedAction()" style="color: white;background-color: rgb(8, 180, 8);">
                Sure
              </button>
                <button class="btn-s ms-3" onclick="cancelAction()" style="color: white;background-color: rgb(14, 14, 173);">Cancel</button>
            </div>
        </div>
            <table class="table shadow-sm" id="example" style="text-align: center;vertical-align:middle;">
                <thead>
                  <tr>
                    <th scope="col">NO</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">LIST/UNLIST</th>
                    <th scope="col">EDIT</th>
                   
                  </tr>
                </thead>
                <tbody>
                    <% data.forEach((ele,index) => { %>
                        <tr>
                         
                          <td><%-index+1-%></td>
                          <td><img  src="/productimages/<%=ele.images[0]%>" alt="" style="width: 60px;height: 60px;border-radius: 30%;"></td>
                          <td><%-ele.productName-%></td>
                          <td><%-ele.price-%></td>
                          <td><%-ele.Category.categoryname%></td>
                          <% if(ele.stockQuantity==0){ %>
                            <td><span style="color: red;">out of stock</span></td>
                          <%}else {%>
                            <td><%-ele.stockQuantity-%></td>
                          <% } %>
                          
                          <% if (ele.displayStatus=="Show") { %>
                            <td>
                              <a href="#" onclick="return confirmAction(event, '/admin/blockproduct/<%= ele._id%>/<%= ele.displayStatus%>')">
                                    <i class="bi bi-eye-fill" style="color: green;font-size: 22px;"></i>
                                </a>
                            </td>
                        <% } else { %>
                            <td>
                                <a href="#" onclick="return confirmAction(event, '/admin/blockproduct/<%= ele._id%>/<%= ele.displayStatus%>')">
                                    <i class="bi bi-eye-slash-fill" style="color: red;font-size: 22px;"></i>
                                </a>
                            </td>
                        <% } %>
                          
                          <td><a href="/admin/editproduct/<%= ele._id-%>"><i class="bi bi-pencil-square" style="color:blue; padding:10px;font-size: 20px;"></i></a></td>
                        </tr> 
                         <% }) %>
                
                </tbody>
              </table>
        </div>
    </div>
<!-- </div> -->
</div>
<% if(successMessage){ %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      Swal.fire({
        title: "Good job!",
        text: "<%= successMessage %>",
        icon: "success"
      });
    });
  </script>
<% } else if(errorMessage) { %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      Swal.fire({
        title: "Error!",
        text: "<%= errorMessage %>",
        icon: "error"
      });
    });
  </script>
<% } %>

<% if(message){%>
  <script>
    document.getElementById("exampleModal").classList("active")
  </script>
<% } %> 
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
          let table = new DataTable('#example');
        });
  </script>
  
  <script>
     function confirmAction(event, url) {
        event.preventDefault();
        document.getElementById('confirmationMessage').style.display = 'block';
        document.getElementById('confirmationMessage').setAttribute('data-url', url); // Store URL in data attribute
        return false; // Prevent default action
    }

    function proceedAction() {
        // Proceed with the action
        const url = document.getElementById('confirmationMessage').getAttribute('data-url');
        window.location.href = url; // Redirect to stored URL
    }

    function cancelAction() {
        // Cancel the action
        document.getElementById('confirmationMessage').style.display = 'none';
    }
</script>



<%-include("../layout/adminfooter.ejs")-%>