<%-include("../layout/adminheader.ejs")-%>
<%-include("../layout/admincentre.ejs")-%>
<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      padding: 20px;
    }
    .user-details {
      flex: 1;
      margin-left: 20px;
    }
    .product-details{
        flex: 1;
      margin-left: 20px;
    }
    .user-address {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      background-color: #f0f0f0;
    }
    .img{
        width: auto;
        max-height: 20px;
    }


  </style>
<%-include("../partials/adminnavbar.ejs")-%>
<div class="container">
    <div>
        <h2 class="page-heading text-center mt-5 mb-4">Return Products</h2>
    </div>
    
    <!-- User address details -->
    <div class="user-details shadow p-4 mb-4" style="background-color: white;">
        <h4 class="mb-3 ps-4">User Address Details</h4>
        <div class="row" style="padding-left: 60px;">
            <div class="col-md-2">
                <h6>Name:</h6>
                <p><%= orders.address.name %></p>
            </div>
            <div class="col-md-3">
                <h6>Address:</h6>
                <p><%= orders.address.address %></p>
            </div>
            <div class="col-md-2">
                <h6>State:</h6>
                <p><%= orders.address.state %></p>
            </div>
            <div class="col-md-2">
                <h6>Phone No:</h6>
                <p><%= orders.address.mobile %></p>
            </div> 
            <div class="col-md-2">
                <h6>Pin Code:</h6>
                <p><%= orders.address.pincode %></p>
            </div>
        </div>
    </div>

    <!-- Product details -->
        <% orders.products.forEach(product => { %>
            <% if (product.status === "Return Requested") { %>
                    <div class="product-details container shadow mb-4 "  style="background-color: white;width: 1080px;">
                        <div class="row">
                            <div class="col-md-2" >
                                <img src="/productimages/<%= product.productid.images[0] %>" style="border-radius: 5%;" class="img-fluid" alt="...">
                            </div>
                            
                            <div class="col-md-6 ps-4">
                                <div class="card-body">
                                    <h3 class="card-title"><%= product.productid.productName %></h3>
                                    <p class="card-text">Price  <span style="font-weight: bold;">:</span>  <%= product.productid.price %></p>
                                    <% retrn.forEach(returnData => {
                                        if (returnData.productid == product.productid.id) { %>
                                            <div class="form-group">
                                                <p>Reason for Return  <span style="font-weight: bold;">:</span>  <%= returnData.returnReason %></p>
                                            </div>
                                            <div class="form-group">
                                                <p>Description  <span style="font-weight: bold;">:</span>  <%= returnData.description %></p>
                                            </div>
                                </div>
                            </div>
                            <div class="col-md-4 ps-4">
                                <div class="form-group d-flex justify-content-center align-items-center" style="padding-top: 30%;">
                                    <% if (returnData.status === "Requested") { %>
                                        <button class="btn btn-sm btn-success me-2" onclick="approveReturn('<%=returnData.id%>')" >Approve Return</button>
                                        <button class="btn btn-sm btn-danger" onclick="rejectReturn('<%=returnData.id%>')" >Reject Return</button>
                                    <% } else if (returnData.status === "Return Approved") { %>
                                        <span class="badge rounded-pill bg-success"><%=returnData.status%></span>
                                    <% } else { %>
                                        <span class="badge rounded-pill bg-danger"><%=returnData.status%></span>
                                    <% } %>
                                </div>
                            </div>
                            <%   }
                        }); %>
                        </div>
                    </div>
            <% } %>
        <% }); %>
</div>


<script>

    function approveReturn(returnId) {
        // Perform AJAX POST request
        $.ajax({
            type: 'POST', // Use POST method
            url: '/admin/approveReturn', // URL to send the request
            data: { return_id: returnId }, // Data to send
            success: function(response) {
                // Handle success response here
                Swal.fire({
                    icon: 'success',
                    title: 'Return Approved!',
                    showConfirmButton: false,
                    timer: 1500 // Close alert after 1.5 seconds
                }).then(function() {
                    // Reload the page after the alert is closed
                    location.reload();
                });
            },
            error: function(xhr, status, error) {
                // Handle error response here
                console.error('Error approving return:', error);
                alert('An error occurred while approving return. Please try again later.');
            }
        });
    }

    // Function to handle rejecting return
    function rejectReturn(returnId) {
        // Perform AJAX POST request
        $.ajax({
            type: 'POST', // Use POST method
            url: '/admin/rejectReturn', // URL to send the request
            data: { return_id: returnId }, // Data to send
            success: function(response) {
                // Handle success response here
                Swal.fire({
                    icon: 'success',
                    title: 'Return Rejected!',
                    showConfirmButton: false,
                    timer: 1500 // Close alert after 1.5 seconds
                }).then(function() {
                    // Reload the page after the alert is closed
                    location.reload();
                });
            },
            error: function(xhr, status, error) {
                // Handle error response here
                console.error('Error rejecting return:', error);
                alert('An error occurred while rejecting return. Please try again later.');
            }
        });
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%-include("../layout/adminfooter.ejs")-%>