<%-include("../layout/userheader.ejs")-%>


<style>
  body{
        margin: 0;
    }
    .carousel-item{
      margin-top: 80px;
        height: 30%;
    }
    .carousel-item img {
        max-height: 500px;
        width: 100%;
    }
#men img{
    height: 200px;
}
#men .carousel-control-next-icon {
    height: 80px;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
}
#men .carousel-control-prev-icon{
    height: 80px;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px; 
}
#women img{
    height: 200px;
}

#kid img{
    height: 200px;
}
</style>

<%-include("../layout/usercentre.ejs")-%>
<%-include("../partials/usernavbar.ejs")-%>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <% for (var i = 0; i < banners.length; i++) { %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" <% if (i === 0) { %>class="active" <% } %> aria-label="Slide <%= i + 1 %>"></button>
      <% } %>
  </div>
  <div class="carousel-inner">
      <% for (var i = 0; i < banners.length; i++) { %>
          <div class="carousel-item <% if (i === 0) { %>active<% } %>">
              <img src="/productimages/<%= banners[i].bannerimage %>" class="d-block" alt="<%= banners[i].alt %>">
          </div>
      <% } %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="container" id="men" style="height: 100vh;padding-top: 60px;" >
    <div class="row header mb-4" style="margin-top: 60px;">
        <h3>MEN'S</h3>
    </div>
    
    <div class="row row-cols row-cols-md-4 g-4 d-flex mt-4 pb-2">
        <% mens.splice(0,4).forEach((product,index)=> { %>
          <a href="/uniqueproduct/<%-product._id-%>" style="text-decoration: none;" >
        <div class="col" style="margin-top: 50px;">
          <div class="card h-100 shadow">
            <img src="/productimages/<%=product.images[0]%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=product.productName%></h5>
              <p class="card-text"><span>₹<%=product.price-product.discountAmount%></span>
                 <span class="ps-2" style="color: red;text-decoration: line-through;">₹<%=product.price%></span><br>
                <%=product.Specification1%>,<%=product.Specification2%>,<%=product.Specification3%>,<%=product.Specification4%>.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div> 
      </a>
      <% }) %>
    </div>
  </div>
  <div class="container" id="women" style="height: 100vh;padding-top: 60px;">
    <div class="header mb-4" style="margin-top: 60px;">
        <h3>WOMEN'S</h3>
    </div>
    
    <div class="row row-cols row-cols-md-4 g-4 d-flex pb-2 mt-4" style="text-decoration: none;">
        <% womens.splice(0,4).forEach((product,index)=> { %>
        <div class="col" style="margin-top: 50px;">
          <div class="card h-100 shadow">
            <img src="/productimages/<%=product.images[0]%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=product.productName%></h5>
              <p class="card-text"><span>₹<%=product.price-product.discountAmount%></span>
                 <span class="ps-2" style="color: red;text-decoration: line-through;">₹<%=product.price%></span><br>
                <%=product.Specification1%>,<%=product.Specification2%>,<%=product.Specification3%>,<%=product.Specification4%>.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div> 
      
      <% }) %>
    </div>
  </div>
  <div class="container" id="kid" style="height: 100vh;padding-top: 30px;">
    <div class="header mb-4" style="margin-top: 50px;">
        <h3 style="margin-top: 100px;">KID'S</h3>
    </div>
    
    <div class="row row-cols row-cols-md-4 g-4 d-flex">
        <% kids.forEach((product,index)=> { %>
        <div class="col" style="margin-top: 60px;">
          <div class="card h-100">
            <img src="/productimages/<%=product.images[0]%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=product.productName%></h5>
              <p class="card-text"><span>₹<%=product.price-product.discountAmount%></span>
                 <span class="ps-2" style="color: red;text-decoration: line-through;">₹<%=product.price%></span><br>
                <%=product.Specification1%>,<%=product.Specification2%>,<%=product.Specification3%>,<%=product.Specification4%>.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div> 
      
      <% }) %>
    </div>
  </div>
  <% if (orderreject == true) { %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Display SweetAlert dialog
        Swal.fire({
            title: 'Order Rejected',
            text: 'Your order has been rejected. Please check your order.',
            icon: 'error',
            showCancelButton: true,
            confirmButtonText: 'My Order',
            cancelButtonText: 'Later'
        }).then((result) => {
            // Redirect to the user's order page if "My Order" is clicked
            if (result.isConfirmed) {
                window.location.href = '/userorder';
            }
            else{
              window.location.reload()
            }
        });
    </script>
<% } %>
<%-include("../partials/userfooter.ejs")-%>
<%-include("../layout/userfooter.ejs")-%>