<%-include("../layout/userheader.ejs")-%>
<%-include("../layout/usercentre.ejs")-%>
<%-include("../partials/usernavbar.ejs")-%>
<div style="margin-top: 100px;">
    <h1>hlo</h1>
</div>
<%-include("../partials/userfooter.ejs")-%>
<%-include("../layout/userfooter.ejs")-%>