 <%-include("../layout/userheader.ejs")-%> 
<%-include("../layout/usercentre.ejs")-%>
<style>
  .gradient-custom-3 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
/* fallback for old browsers */
background: #84fab0;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
u{
  color: blue;
}
</style>
<section class="vh-100 bg-image "
  style="background-image: url('assets/bgtheme.jpg');background-repeat: no-repeat;background-size: cover;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card pt-2" style="border-radius: 15px;color: white; background-color: black;">
            <div class="card-body ">
              <div class="justify-content-center align-items-center d-flex">
                <a href="/guest"><img src="assets/logoblack.png" style="width:100px;" alt=""></a>
            </div>
            <h2 class="text-uppercase text-center mb-2">Login here</h2>
            <label for="" class="text-center" style="color: rgb(235, 90, 6);font-size: smaller;"><%-msg?msg:""-%></label>
            <form class="page " action="/login" method="post">
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1cg">Your Email</label>
                <input type="email" id="form3Example3cg" name="email" placeholder="Enter your E-mail" class="form-control form-control-lg" />

            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1cg">Password</label>
            <input type="password" id="form3Example4cg" name="password" placeholder="Enter your password" class="form-control form-control-lg" />
            
          </div>
          <a href="/verifyemail" style="text-decoration: none;color: red;">forgot password?</a>
          <div class="d-flex justify-content-center">
            <button type="submit"
              class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">LogiN</button>
          </div>
      
          <h6 class="text-center mt-3 mb-2">Have don't already an account? <a href="/signup"
            class="fw-bold text-body"><u>click here</u></a></h6>
        <div class="social mt-2 d-flex justify-content-center p-3">
          <div class="go"><a href="/auth/google" style="text-decoration: none;color: white;"><i class="bi bi-google"></i> Google</a></div>
          <div class="fb ps-3"><i class="bi bi-facebook"></i> Facebook</div>
        </div>
        
    </form>

  </div>
</div>
</div>
</div>
</div>
</div>
</section>
 <!-- Add this script tag below your HTML content -->
 <% if (email_err) { %>
<script>
  // Check if there's an email error
  
    // Display a toast message for the email error
    Toastify({
      text: '<%= email_err %>',
      duration: 3000, // Duration in milliseconds
      gravity: 'top', // Position: 'top', 'bottom', 'left', 'right'
      backgroundColor: 'linear-gradient(to right, #a15d48, #ff0000)', // Background color of the toast message
      stopOnFocus: true // Stop the toast message when user focuses on the window/tab
    }).showToast(); // Show the toast message
</script>
<% } else if (status_err) { %>
  <script>
    // Check if there's an email error
    
      // Display a toast message for the email error
      Toastify({
        text: '<%= status_err %>',
        duration: 3000, // Duration in milliseconds
        gravity: 'top', // Position: 'top', 'bottom', 'left', 'right'
        backgroundColor: 'linear-gradient(to right, #a15d48, #ff0000)', // Background color of the toast message
        stopOnFocus: true // Stop the toast message when user focuses on the window/tab
      }).showToast(); // Show the toast message
  </script>
<% } else if (pass_err) { %>
  <script>
    // Check if there's an email error
    
      // Display a toast message for the email error
      Toastify({
        text: '<%= pass_err %>',
        duration: 3000, // Duration in milliseconds
        gravity: 'top', // Position: 'top', 'bottom', 'left', 'right'
        backgroundColor: 'linear-gradient(to right, #a15d48, #ff0000)', // Background color of the toast message
        stopOnFocus: true // Stop the toast message when user focuses on the window/tab
      }).showToast(); // Show the toast message
  </script>
<% } %>
<script>
  const email = document.getElementById('form3Example3cg')
  const password = document.getElementById('form3Example4cg')

  email.addEventListener('input', validateform);
  password.addEventListener('input', validateform);

  function validateform(){
    var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if(password.value.length<8){
      password.setCustomValidity('Password must be at least 8 characters')
    }
    else if(!emailPattern.test(email.value)){
      email.setCustomValidity('Please enter a valid email address')
    }
    else{
      email.setCustomValidity('')
      password.setCustomValidity('')
    }
  }
</script>   
<%-include("../layout/userfooter.ejs")-%> 