<%-include("../layout/userheader.ejs")-%>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<%-include("../layout/usercentre.ejs")-%>
<style>
     .avatar-lg {
      height: 5rem;
      width: 5rem;
    }
    .card {
    display: flex;
    
}

.order-info {
    display: flex;
    padding-left: 3%;
}

.order-date {
    margin-left: auto; /* Moves Order Date to the right side */
    padding-right: 3%;
}
/* Default button style */
button {
    background-color: rgb(36, 221, 36);; /* Button background color */
    border: 2px solid black; /* Button border */
    color: black; /* Button text color */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 5px; /* Border radius to make the corners rounded */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    font-weight: 700;
}

/* Hover effect */
button:hover {
    background-color: #333; /* Dark background color on hover */
    color: white; /* Light text color on hover */
}

/* Optional: Adjust the button width as needed */
button {
    width: 150px; /* Set the button width */
}

@keyframes blink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.blink {
    animation: blink 1.5s infinite;
    font-size: 14px;
}



</style>
<%-include("../partials/usernavbar.ejs")-%>
<% if (orders.length > 0) { %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card-header d-flex mb-4" style="margin-top: 100px;">
                    <h4>Order Details</h4>
                    <% if (pendingOrder.length > 0) { %>
                        <div class="float-end justify-content-end ms-auto me-0">
                            <a class="btn blink" href="#" style="color: white; background-color: red; text-decoration: none; text-align: center;">
                                <%= pendingOrder.length %> Orders payment is pending. Please pay.
                            </a>
                        </div>
                        
                    <% } %>
                    
                </div>
                <div class="card" id="cardcontainer" >
                    <table id="ordersTable" class="display" style="width: 100%;">
                        <tbody>
                            <% orders.forEach(order => { %>
                                <tr>
                                    <th>
                                        <div class="card">
                                            <div class="order-info">
    
                                                <span class="order-date">Order Date: <%- order.orderdate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' }) %></span>
                                            </div>
                                        </div>
                                        <% order.products.forEach(data => { %>
                                            <div class="container">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-2">
                                                            <img src="/productimages/<%= data?.productid?.images[0] %>" alt="" class="avatar-lg rounded">
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <h5 class="text-truncate font-size-18"><a href="#" class="text-dark"><%= data?.productid?.productName %></a></h5>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <a href="#" class="text-muted px-1">
                                                                <span style="color: #000000;">Qty: <%= data.quantity %></span>
                                                            </a>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <% if (data.status != "Cancelled") { %>
                                                                <a class="text-muted px-1">
                                                                    <% if (order.orderStatus === 'Order Processed') { %>
                                                                        <span class="badge rounded-pill bg-warning" style="font-weight: 400;"><%= order.orderStatus %></span>
                                                                    <% } else if (order.orderStatus === 'Order Confirmed') { %>
                                                                        <span class="badge rounded-pill bg-primary" style="font-weight: 400;"><%= order.orderStatus %></span>
                                                                    <% } else if (order.orderStatus === 'Order Shipped') { %>
                                                                        <span class="badge rounded-pill bg-info" style="font-weight: 400;"><%= order.orderStatus %></span>
                                                                    <% } else if (order.orderStatus === 'Order Delivered') { %>
                                                                        <span class="badge rounded-pill bg-success" style="font-weight: 400;"><%= order.orderStatus %></span>
                                                                    <% } else if (order.orderStatus === 'Order Rejected'){ %>
                                                                        <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                                                                    <% } else if (order.orderStatus === "Cancelled"){ %>
                                                                        <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                                                                    <% } %>
                                                                </a>
                                                            <% } else { %>
                                                                <a class="text-muted px-1">
                                                                    <span class="badge rounded-pill bg-danger" style="font-weight: 400;margin-left: 20px;"><%= data.status %></span>
                                                                </a>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        <% }) %>
                                        <div class="card-footer text-center">
                                            <a href="/vieworderdetails/<%= order._id %>"  class="btn btn-light" style="background-color: #d3f2f0;">View details</a>
                                        
                                        <% if (order.paymentMethod == "OnlinePayment" && order.PaymentStatus == "Pending") { %>
                                            <a   class="btn " style="background-color: red;color: azure;" >Payment is pending</a>
                                        <% } %>
                                    </div>
                                    </th>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <!-- Pagination Links -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <% if (page > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= i === page ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (page < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    
<% } %>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#ordersTable').DataTable();
        });
    </script>

<%-include("../layout/userfooter.ejs")-%>