<%-include("../layout/userheader.ejs")-%>
<style>
  body {
      color: #000;
      overflow-x: hidden;
      height: 100%;
      background-color: #ECEFF1;
      background-repeat: no-repeat;
  }

  .card {
      z-index: 0;
      background-color: #ECEFF1;
      margin-top: 50px;
      margin-bottom: 30px;
      border-radius: 10px;
  }
  .steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0;
    transform: translateY(-50%); /* Added to center vertically */
}

.steps .step .step-icon-wrap::after {
    right: 0;
    transform: translateY(-50%); /* Added to center vertically */
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60x;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 21px;
    line-height: 61px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 14px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}
.steps .step.uncompleted .step-icon-wrap::before,
.steps .step.uncompleted .step-icon-wrap::after {
  background-color: #e41607
}
.steps .step.uncompleted .step-icon{
    border-color: #e41607;
    background-color: #e41607;
    color: #fff
}
.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #48cf12
}

.steps .step.completed .step-icon {
    border-color: #48cf12;
    background-color: #48cf12;
    color: #fff
}

@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}
.card.button:hover{
  background-color: rgb(112, 29, 29);
}
.custom-btn {
        background-color:  #ECEFF1;
        color: blue;
        border: 1px solid black;
        transition: background-color 0.3s, color 0.3s;
    }

.custom-btn:hover {
        background-color: blue;
        color: white;
        border: none;
    }
.modal-dialog-end .modal-content {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog-end .modal-content {
    transform: translateX(0);
}
</style>
<%-include("../layout/usercentre.ejs")-%>
<%-include("../partials/usernavbar.ejs")-%>
<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10 col-xl-8">
              <div class="card shadow" style="border-radius: 10px;">
                  <div class="card-header px-4 py-5">
                      <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;"><%=username%></span>!</h5>
                  </div>
                  <div class="card-body p-4">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                          <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                          <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
                      </div>

                      <div class="card d-flex justify-content-center shadow-0 border mb-4">
                          <div class="card-body">
                              <% order.products.forEach((data,index) => { %>
                              <div class="row">
                                  <div class="col-md-2">
                                      <div class="circle"> <!-- Add circle class here -->
                                          <img src="/productimages/<%= data?.productid?.images[0] %>" style="max-height: 100px;width: 100px;" class="img-fluid" alt="Phone">
                                      </div>
                                  </div>
                                  <div class="col-md-10">
                                      <div class="row">
                                          <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                              <p class="text-muted mb-0"><%=data?.productid?.productName%></p>
                                          </div>
                                          <div class="col-md-3 text-center d-flex justify-content-center align-items-center" style="margin-left: -10px;">
                                            <p class="text-muted mb-0 small">Qty: <%=data?.quantity%></p>
                                          </div>
                                          <div class="col-md-3 text-center d-flex justify-content-center align-items-center" style="margin-left: -20px;">
                                              <p class="text-muted mb-0 small">Category: <%=data?.productid?.Category?.categoryname%></p>
                                          </div>
                                          <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                            <a href="/uniqueproduct/<%=data?.productid?._id%>" class="btn custom-btn" style="margin-right: 5px;">BuyAgain</a>
                                            <% if (order.orderStatus === "Cancelled") { %>
                                              <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                                          <% } else if (order.orderStatus === "Order Returned") { %>
                                              <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                                              <% } else if (order.orderStatus === "Order Rejected") { %>
                                                <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                                          <% } else if (data.status === "Cancelled") { %>
                                              <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= data.status %></span>
                                          <% } else if (data.status === "Return Requested") { %> 
                                              <span class="badge rounded-pill bg-primary" style="font-weight: 400;"><%= data.status %></span>
                                          <% } else if (data.status === "Order Returned") { %> 
                                            <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= data.status %></span>
                                          <% } else if (data.status === "Order Returned") { %>
                                              <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= data.status %></span>
                                          <% } else if (order.orderStatus === "Order Delivered") { %>
                                            <button class="btn custom-btn" onclick="showReturnOrderModal('<%= index %>')">Return</button>
                                          <% } else { %>
                                              <button class="btn custom-btn" onclick="cancelOrder('<%= order._id %>', '<%= index %>')">Cancel</button>
                                          <% } %>
                                          
                                            
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                              <% }); %>
                          </div>
                      </div>
                      <% if (order.orderStatus === "Order Rejected") { %>
                        <div class="card shadow" style="border-radius: 10px;">
                          <div class="card-header px-4 py-5">
                              <h5 class="text-muted mb-0">Order Rejected Reason</h5>
                          </div>
                          <div class="card-body p-4">
                              <p><%= order.rejectdetails %></p>
                          </div>
                      </div>
                   <% } %>
                      
                        <div class="card shadow" style="border-radius: 10px;">
                          <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Tracking Order Id - </span><span class="text-medium"><%=order._id%></span></div>
                          <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
                            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Shipped Via:</span> UPS Ground</div>
                            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Status:</span> <%=order.orderStatus%></div>
                            <div class="w-100 text-center py-1 px-2">
                              <% if (order.orderStatus === "Order Delivered") { %>
                              <span class="text-medium">Delivered Date:</span>
                              <%= new Date(order.deliveryDate).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                              <% } else { %>
                                <span class="text-medium">Expected Date:</span>
                              <%= new Date(order.expectedDeliveryDate).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                                <% } %>
                          </div>
                                                 
                        </div>
                          <div class="card-body">
                            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                              <% if (order.orderStatus === "Cancelled" || order.orderStatus === "Order Rejected" || order.orderStatus === "Order Returned") { %>
                                <div class="step <%= ['Order Returned','Order Rejected','Cancelled'].includes(order.orderStatus) ? 'uncompleted' : '' %>">
                                  <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="bi bi-gear"></i></div>
                                  </div>
                                  <h4 class="step-title">Processing Order</h4>
                                </div>
                                <div class="step <%= ['Order Returned','Order Rejected','Cancelled'].includes(order.orderStatus) ? 'uncompleted' : '' %>">
                                  <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="bi bi-cart3"></i></div>
                                  </div>
                                  <h4 class="step-title">Confirmed Order</h4>
                                </div>
                                <div class="step <%= ['Order Returned','Order Rejected','Cancelled'].includes(order.orderStatus) ? 'uncompleted' : '' %>">
                                  <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="bi bi-postage"></i></div>
                                  </div>
                                  <h4 class="step-title">Order Shipped</h4>
                                </div>
                                <div class="step <%= ['Order Returned','Order Rejected','Cancelled'].includes(order.orderStatus) ? 'uncompleted' : '' %>">
                                  <div class="step-icon-wrap">
                                      <div class="step-icon"><i class="bi bi-house-x"></i></div>        
                                  </div>
                                  <% if (order.orderStatus=="Cancelled") { %>
                                    <h4 class="step-title">Order Cancelled</h4>
                                    <% } else if (order.orderStatus === "Order Rejected") { %>
                                      <h4 class="step-title">Order Rejected</h4>
                                    <% } else { %>
                                      <h4 class="step-title">Order Return</h4>
                                      <% } %>
                                </div>
                              </div>
                                <% } else { %>
                              <div class="step <%= ['Order Confirmed', 'Order Processed', 'Order Shipped','Order Delivered'].includes(order.orderStatus) ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                  <div class="step-icon"><i class="bi bi-gear"></i></div>
                                </div>
                                <h4 class="step-title">Processing Order</h4>
                              </div>
                              <div class="step <%= ['Order Confirmed','Order Shipped','Order Delivered'].includes(order.orderStatus) ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                  <div class="step-icon"><i class="bi bi-cart3"></i></div>
                                </div>
                                <h4 class="step-title">Confirmed Order</h4>
                              </div>
                              <div class="step <%= ['Order Shipped','Order Delivered'].includes(order.orderStatus) ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                  <div class="step-icon"><i class="bi bi-postage"></i></div>
                                </div>
                                <h4 class="step-title">Order Shipped</h4>
                              </div>
                              <div class="step <%= order.orderStatus === 'Order Delivered' ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                  <% if (order.orderStatus=="Order Delivered") { %>
                                  <div class="step-icon"><i class="bi bi-house-check"></i></div>       
                                  <% } else { %>
                                    <div class="step-icon"><i class="bi bi-house"></i></div>
                                    <% } %>
                                </div>
                                <h4 class="step-title">Product Delivered</h4>
                              </div>
                            </div>
                          </div>
                          <% } %>
                        </div>

                      <div class="d-flex justify-content-between pt-2">
                          <p class="fw-bold mb-0">Order Details</p>
                          <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> ₹<%- order.totalAmount+order.discountAmount %></p>
                      </div>

                      <div class="d-flex justify-content-between pt-2">
                          <p class="text-muted mb-0">Order Date : <%- order.orderdate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' }) %></p>
                          <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> ₹<%- order.discountAmount %></p>
                      </div>

                      <div class="d-flex justify-content-between">
                          <p class="text-muted mb-0">delivary Date :
                            <% if (order.orderStatus === "Order Delivered") { %>
                             <%- order.
                             deliveryDate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' }) %>
                             <% } else { %>
                              <%- order.expectedDeliveryDate.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'short', timeStyle: 'short' }) %>
                              <% } %>
                            </p>
                          <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
                      </div>

                      <div class="d-flex justify-content-between mb-5">
                          <p class="text-muted mb-0">payment Method : <%- order.paymentMethod %> </p>
                      </div>
                  </div>
                  <div class="card-footer border-0 px-4 py-5 d-flex justify-content-between align-items-center" style="background-color: #e1e7ec; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                    <div style="margin-left: 8%;">
                      <% if (order.orderStatus === "Cancelled") { %>
                        <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                    <% } else if (order.orderStatus === "Order Returned") { %>
                        <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                    <% } else if (order.orderStatus === "Order Rejected") { %>
                      <span class="badge rounded-pill bg-danger" style="font-weight: 400;"><%= order.orderStatus %></span>
                    <% } else if (order.orderStatus === "Order Delivered") { %>
                      <span class="badge rounded-pill bg-success" style="font-weight: 400;"><%= order.orderStatus %></span>
                    <% } else { %>
                      <button class="btn custom-btn" onclick="cancelAllOrders('<%= order._id %>')">Cancel All</button>
                    <% } %>
                    </div>
                    <h5 class="text-dark text-uppercase mb-0">Total price: <span class="h2 ms-2">₹<%- order.totalAmount %></span></h5>
                </div>
                
              </div>
          </div>
      </div>
  </div>
</section>
<div id="returnOrderModal" class="modal fade" tabindex="-1" aria-labelledby="returnOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-end modal-dialog-slideout">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="returnOrderModalLabel">Return Order</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              

                <input type="hidden" id="orderIndex" value="">

                  <div class="mb-3">
                      <label for="returnReason" class="form-label">Reason for Return</label>
                      <input type="text" class="form-control" id="returnReason" placeholder="Enter reason">
                  </div>
                  <div class="mb-3">
                      <label for="returnDescription" class="form-label">Description</label>
                      <textarea class="form-control" id="returnDescription" rows="3" placeholder="Enter description"></textarea>
                  </div>
              
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="returnOrder()">Send</button>
          </div>
      </div>
  </div>
</div>

<script>
  function cancelAllOrders(orderId) {
      // SweetAlert confirmation
      Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, cancel all orders!'
      }).then((result) => {
          if (result.isConfirmed) {
              // AJAX request
              $.ajax({
                  url: `/cancellallorder/${orderId}`, // URL for your server-side endpoint to handle canceling all orders
                  method: 'POST', // Assuming you're using POST method
                  data: { orderId: orderId }, // Pass order._id as data
                  success: function(response) {
                      // Handle successful response with SweetAlert
                      Swal.fire(
                          'Cancelled!',
                          'All orders have been cancelled.',
                          'success'
                      ).then((result) => {
                          // Reload the page after user clicks OK on success message
                          if (result.isConfirmed || result.dismiss === Swal.DismissReason.backdrop || result.dismiss === Swal.DismissReason.esc) {
                              window.location.reload();
                          }
                      });
                  },
                  error: function(xhr, status, error) {
                      // Handle error with SweetAlert
                      Swal.fire(
                          'Error!',
                          'Something went wrong. Please try again later.',
                          'error'
                      );
                  }
              });
          }
      });
  }
</script>
<script>
  function cancelOrder(orderId, index) {
    console.log(orderId,index);
      if (confirm("Are you sure you want to cancel this order?")) {
          $.ajax({
              url: `/cancelsingleorder/${orderId}/${index}`,
              method: 'POST',
              data: { orderId: orderId, index: index },
              success: function(response) {
                  swal({
                      title: "Success",
                      text: "Order canceled successfully!",
                      icon: "success"
                  }).then(() => {
                      window.location.reload();
                  });
              },
              error: function(xhr, status, error) {
                  console.error(error);
                  swal("Error", "Failed to cancel order", "error");
              }
          });
      }
  }

  function showReturnOrderModal(index) {
       // Set the index value in the hidden input field
       document.getElementById('orderIndex').value = index;
        // Show the modal
        var myModal = new bootstrap.Modal(document.getElementById('returnOrderModal'), {
            backdrop: 'static'
        });
        myModal.show();
  }

  function returnOrder() {
    var index = $('#orderIndex').val();
    var orderId ="<%=order._id%>"
    var reason = $('#returnReason').val();
    var description = $('#returnDescription').val();

    // AJAX request
    $.ajax({
        url: '/returnorder',
        method: 'POST',
        data: {
            index: index,
            orderId: orderId,
            reason: reason,
            description: description
        },
        success: function(response) {
            // Show SweetAlert success message
            Swal.fire({
                icon: 'success',
                title: 'Order Returned',
                text: 'Your order has been returned successfully!',
                confirmButtonText: 'OK'
            }).then((result) => {
                // If user clicks "OK", reload the page
                if (result.isConfirmed) {
                    window.location.reload();
                }
            });
        },
        error: function(xhr, status, error) {
            // Handle error
            console.error(error);
            // Display error message to the user
            alert('Error occurred while processing the return order.');
        }
    });
}
</script>
<%-include("../layout/userfooter.ejs")-%>