<%-include("../layout/userheader.ejs")-%>
<%-include("../layout/usercentre.ejs")-%>
<style>
    .badge-dark{
        background-color: black;
        height: 3%;
    }
    .card-header{
        background-color: rgb(187, 203, 211);
        height: 8%;
        padding: 2%;
    }
    .card-radio {
    background-color: #fff;
    border: 2px solid #eff0f2;
    border-radius: .75rem;
    padding: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block
}

.card-radio:hover {
    cursor: pointer
}
.card-radio-label {
    display: block
}
.card-radio-input {
    display: none
}

.card-radio-input:checked+.card-radio {
    border-color: #3b76e1!important
}
    
</style>
<%-include("../partials/usernavbar.ejs")-%>
 <!-- cart + summary -->
 <section class="bg-light" style="padding-top: 50px;margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card-header">
                    <a class="btn btn-primary float-end" href="/addaddress?flag=1">Add Address</a>
                    <h4 class="card-title">Delivery Address</h4>
                </div>
                <% if (address != null && address.length > 0) { %>
                    <div class="card border mb-5 shadow-0" id="addressCard0" style="box-shadow: 0 14px 14px rgba(0, 0, 0, 0.1);">
                        <div class="m-4">
                            <!-- Container to display existing addresses -->
                            <div id="existingAddressesContainer">
                                <!-- Display the first address -->
                                <div class="form-check mb-2">
                                    <!-- Container for selected label -->
                                    <div id="selectedLabelContainer" class="float-end"></div>
                                    <% if (adrsSelect==null || adrsSelect == undefined ) { %>
                                    <input class="form-check-input" type="radio" name="existingAddress" id="address0" onclick="showButton('deliverHereBtn0')">
                                    <% } else { %>
                                        <input class="form-check-input" type="radio" name="existingAddress" id="address0" onclick="showButton('deliverHereBtn0')" <%= adrsSelect != address[0]._id ? 'disabled' : '' %>> 
                                        <% } %>
                                    <ul class="address-list">
                                        <!-- Sample address item -->
                                        <li class="address-item" style="list-style: none;">
                                            <button type="button" class="badge badge-dark" style="border-radius: 10px; height: 25px; font-size: 12px;">
                                                <%= address[0].addressType %>
                                            </button>
                                            <br><br>
                                            <% if (adrsSelect == address[0]._id) { %>
                                                <div class="text-end">
                                                    <i class="bi bi-check-circle-fill text-success" style="font-size: 24px;position: absolute;margin-left: -40px;"></i>
                                                </div>
                                            <% } %>
                                            <p style="font-weight: bold;"><%-address[0].name-%></p>
                                            <p><%= address[0].address %>, <%= address[0].locality %>, <%= address[0].city %>, <%= address[0].district %>, <%= address[0].state %></p>
                                            <p><%-address[0].mobile-%></p>
                                            <p><%-address[0].pincode-%></p>
                                            <br>
                                            <button type="button" class="btn btn-deliv  d-none" style="background-color: rgb(223, 172, 7);" id="deliverHereBtn0" onclick="selectAddress('<%-address[0]._id-%>')">Deliver Here</button>
                                        </li>
                                    </ul>
                                    <hr style="color: #9a9a9a;">
                                </div>

                                <!-- Additional addresses hidden by default -->
                                <% address.forEach(function(data, i) { %>
                                    <% if (i != 0) { %>
                                        <div class="hidden-address form-check mb-2 ">
                                        <% if (adrsSelect==null || adrsSelect == undefined ) { %>
                                        <input class="form-check-input" type="radio" name="existingAddress" id=<%= "address" + i %> onclick="showButton('<%= "deliverHereBtn" + i %>')">
                                        <% } else { %>
                                            <input class="form-check-input" type="radio" name="existingAddress" id=<%= "address" + i %> onclick="showButton('<%= "deliverHereBtn" + i %>')" <%= adrsSelect != data._id ? 'disabled' : '' %>> 
                                            <% } %> 
                                        <ul class="address-list">
                                            <li class="address-item" style="list-style: none;">
                                                <button type="button" class="badge badge-dark"><%= data.addressType %></button>
                                                <br><br>
                                                <% if (adrsSelect == data._id) { %>
                                                    <div class="text-end">
                                                        <i class="bi bi-check-circle-fill text-success" style="font-size: 24px; position: absolute; margin-left: -40px;"></i>
                                                    </div>
                                                <% } %>
                                                <p style="font-weight: bold;"><%= data.name %></p>
                                                <p><%= data.address %>, <%= data.locality %>, <%= data.city %>, <%= data.district %>, <%= data.state %></p>
                                                <p><%= data.mobile %></p>
                                                <p><%= data.pincode %></p>
                                                <br>
                                                <a type="button" class="btn btn-deliv d-none" style="background-color: rgb(223, 172, 7);" id=<%= "deliverHereBtn" + i %> onclick="selectAddress('<%-data._id-%>')">Deliver Here</a>
                                            </li>
                                        </ul>
                                        <hr style="color: #554f4f;">
                                        </div>
                                    <% } %>
                                <% }); %>
                                <% if (address.length > 1) { %>
                                    <div class="text-end">
                                        <a href="#" class="show-all-addresses" style="text-decoration: none; font-size: 20px;" onclick="toggleHiddenAddresses()">Show All</a>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="card-header">
                    <h4 class="card-title">Payment Options</h4>
                </div>
                <div class="card mt-3">
                    <div class="row p-4">
                        <div class="col-lg-3 col-sm-6">
                            <div data-bs-toggle="collapse">
                                <label class="card-radio-label">
                                    <input type="radio" name="pay-method" id="pay-methodoption1" value="walletPayment" class="card-radio-input">
                                    <span class="card-radio py-3 text-center text-truncate">
                                        <i class="bi bi-credit-card d-block h2 mb-3"></i>
                                        Wallet
                                    </span>
                                </label>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-sm-6">
                            <div>
                                <label class="card-radio-label">
                                    <input type="radio" name="pay-method" id="pay-methodoption2" value="OnlinePayment" class="card-radio-input">
                                    <span class="card-radio py-3 text-center text-truncate">
                                        <i class="bi bi-paypal d-block h2 mb-3"></i>
                                        Paypal
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div>
                                <label class="card-radio-label">
                                    <input type="radio" name="pay-method" id="pay-methodoption3" class="card-radio-input" value="cashOnDelivery" checked="">

                                    <span class="card-radio py-3 text-center text-truncate">
                                        <i class="bi bi-cash-stack d-block h2 mb-3"></i>
                                        <span>Cash on Delivery</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (totalprice>1000) { %>
                    <p style="color: rgb(236, 52, 52);">Order above Rs 1000 can't allowed for Cash On Delivery</p>
                <% } %>
                <div class="row my-4 ">
                    <div class="col">
                        <a href="/" class="btn btn-link text-muted" style="text-decoration: none;">
                            <i class="bi bi-arrow-left me-1"></i> Continue Shopping </a>
                    </div> <!-- end col -->
                    <div class="col">
                        <div class="text-end mt-2 mt-sm-0">
                            <a class="btn btn-success" id="proceedButton">
                                <button type="submit" style="background: none;border: none;">
                                <i class="bi bi-basket2-fill me-1"></i> Proceed
                            </button>
                            </a>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row-->
            </div>
            <div class="col-lg-3">
                <div class="card" style="box-shadow: 0 14px 14px rgba(0, 0, 0, 0.1); position: fixed; width: 25%;">
                    <div class="card-body">
                        <h6 style="padding-bottom: 8px; padding-left: 5px;">HAVE A COUPON?</h6>
                        <% if ( couponCount >= 1 || cpn ) { %>
                            <div class="mb-3" style="padding-bottom: 5px;">
                                <div class="d-flex justify-content-center align-items-center" style="padding-bottom: 7px;">
                                    <select class="coupon-select" id="category" name="Category" required style="width:100%; height: 35px;">
                                        <option value="" selected disabled><%= cpn?cpn:"Please select couponcode" %></option>
                                        <% coupon.forEach((ele) => { %>
                                            <option value="<%= ele.couponCode %>"><%= ele.couponCode %></option>
                                        <% }) %>
                                    </select>
                                    <% if (cpn != null || cpn != undefined) { %>
                                        <button type="button" class="btn btn-danger remove-button" style="border-radius:0; height: 35px; display: flex; align-items: center;">Remove</button>
                                    </div>
                                    <p style="color: red;">If you don't want coupon, please remove.</p>
                                    <% } else { %>
                                        <button type="button" class="btn btn-primary apply-button" style="border-radius:0; height: 35px; display: flex; align-items: center;">Apply</button>
                                    </div>
                                    <p style="color: green;"><%= couponCount %> coupon available for your Order.</p>
                                <% } %>
                            </div>
                        <% } else { %>
                            <div class="mb-3" style="padding-bottom: 5px;">
                                <div class="d-flex justify-content-center align-items-center" style="padding-bottom: 7px;">
                                    <select class="coupon-select" id="category" name="Category" required style="width:100%; height: 35px;">
                                        <option value="" selected disabled>No coupon available now</option>
                                    </select>
                                </div>
                                <p style="color: red;">No coupon available for your Order.</p>
                            </div>
                        <% } %>
            
                        <hr style="color:#554f4f;">
                        <h5 style="margin-top: -8px;">PRICE DETAILS</h5>
                        <hr style="color:#554f4f;">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Total price:</p>
                            <p class="mb-2">₹ <%= grandtotal %></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Discount:</p>
                            <p class="mb-2 text-success">-₹ <%= disctotal %></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">Delivery charges:</p>
                            <% if (totalprice-cpndiscnt < 1000) { %>
                                <p class="mb-2" style="color: red;">+₹ 40</p>
                            <% } else { %>
                                <span style="font-size: small; color: green;">Free</span><del class="text-muted text-nowrap" style="font-size: small;">₹ 40</del>
                            <% } %>
                        </div>
                        <hr style="color:#554f4f;">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">TOTAL PAYABLE</p>
                            <% if (totalprice-cpndiscnt < 1000) { %>
                                <p class="mb-2 fw-bold">₹ <%= totalprice + 40-cpndiscnt %></p>
                            <% } else { %>
                                <p class="mb-2 fw-bold">₹ <%= totalprice-cpndiscnt %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    function toggleHiddenAddresses() {
        var hiddenAddresses = document.querySelectorAll('.hidden-address');
        hiddenAddresses.forEach(function(address) {
            address.classList.toggle('show-hidden-addresses');
        });

        var showAllLink = document.querySelector('.show-all-addresses');
        if (showAllLink) {
            if (showAllLink.textContent === 'Show All') {
                showAllLink.textContent = 'Show Less';
            } else {
                showAllLink.textContent = 'Show All';
            }
        }
    }
</script>

<script>
    function showButton(buttonId) {
        var buttons = document.querySelectorAll('.btn-deliv'); // Get all "Deliver Here" buttons
        buttons.forEach(function(button) {
            button.classList.add('d-none'); // Hide all buttons
        });
        var button = document.getElementById(buttonId);
        if (button) {
            button.classList.remove('d-none'); 
        }
    }
</script>
<script>
    $(document).ready(function() {
        $("#proceedButton").click(function() {
            
            var paymentMethod = $('input[name="pay-method"]:checked').val();
            var price = "<%=totalprice%>";
            var url = `/placeorder/${paymentMethod}`
           if(price > 1000 && paymentMethod == "cashOnDelivery"){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: `Order above Rs 1000 can't allowed for Cash On Delivery`
                });
           }
           else{

            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    
                    if(response.msg){
                        Swal.fire({
                        icon: 'error',
                        title: response.msg,
                        showConfirmButton: false,
                        timer: 3000 // Adjust the time the alert is displayed if needed
                        })
                    }
                    if(response.paymentMethod==="COD"){
                        window.location.href = "/ordersuccess"
                    }
                    else if(response.paymentMethod == "online"){
                        console.log("Hlo I am here----->");
                        createRazorpay(response.order);
                    }
                    else if (response.paymentMethod == "wallet") {
                        window.location.href = "/ordersuccess";
                    }
                },
                error: function(xhr, status, error) {
                    // Handle any errors that occur during the request
                    console.error('Request failed. Status: ' + status + ', Error: ' + error);
                }
            });
           }  
        });
    });
</script>

<script>
  $(document).ready(function() {
    $('.apply-button').click(function() {
        var couponCode = $('.coupon-select').val();
        if (!couponCode) {
            // Display SweetAlert message
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Please choose a coupon.',
            });
            return; // Exit the function if coupon code is empty
        }
        $.ajax({
            type: 'POST',
            url: '/couponapply',
            data: { couponcode: couponCode },
            success: function(response) {
                if(response.successMsg){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: response.successMsg,
                    }).then(function() {
                        // Reload the window after displaying the success message
                        window.location.reload();
                    });
                }
                else{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.errorMsg,
                    });
                }
            },
            error: function(xhr, status, error) {
                // Handle error
                console.error(xhr.responseText);
            }
        });
    });
});
$(document).ready(function() {
    $('.remove-button').click(function() {
        $.ajax({
            type: 'POST',
            url: '/removecouponapply',
            success: function(response) {
                if(response.successMsg){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: response.successMsg,
                    }).then(function() {
                        // Reload the window after displaying the success message
                        window.location.reload();
                    });
                }
                else{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.errorMsg,
                    });
                }
            },
            error: function(xhr, status, error) {
                // Handle error
                console.error(xhr.responseText);
            }
        });
    });
});

</script>

<%-include("../layout/userfooter.ejs")-%>