<%-include("../layout/userheader.ejs")-%>
<%-include("../layout/usercentre.ejs")-%>
<%-include("../partials/usernavbar.ejs")-%>
<style>
    /* Increase the height of the card container */
    .card-container {
        height: 400px; /* Adjust the height as needed */
    }

    /* Set the list items to have the same height */
    .list-group-item {
        height: 60px; /* Adjust the height as needed */
        line-height: 60px; /* Center the content vertically */
        display: flex;
        align-items: center;
        vertical-align: middle;
    }
    #editIcon{
        color: blue;
        font-size: 20px;
    }
    .hidden-div{
        display: none;
    }
    .badge-dark{
        background-color: black;
    }
    .btn-delete{
        background-color: rgba(245, 21, 21, 0.904);
        color: white;
        border: none;
        border-radius: 10%;
    }
    .btn-edit{
        background-color:rgb(34, 34, 224);
        color: white;
        border: none;
        border-radius: 10%;
    }

    .atag, .atag.link {
  display: block;
  padding: 33px 0 0 0;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}



/*  ================================================
            TICKET STYLING & COUPON EFFECT
    ================================================  */
.ticket {
position: relative;
display: table;
width: 600px;
height: 180px;
margin: 50px auto 0 auto;
padding-bottom: 57px;
background: #1981d6;
text-align: center;
}

.ticket::before {
  content:"";
  position: absolute;
  top: 54.5%;
  left: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ffffff;
}

.ticket::after {
  content:"";
  position: absolute;
  top: 54.5%;
  right: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ffffff;
}

/*  ================================================
                    RIBBON EFFECT
    ================================================  */
.ribbon {
position: absolute;
display: block;
top: -4px;
right: -4px;
width: 110px;
height: 110px;
overflow: hidden;
}

.ribbon .clabel {
position: relative;
display: block;
left: -10px;
top: 23px;
width: 158px;
padding: 10px 0;
font-size: 11px;
text-align: center;
color: #fff;
background-color: #e85e68;
-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
-ms-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
-webkit-transform: rotate(45deg) translate3d(0,0,0);
-moz-transform: rotate(45deg) translate3d(0,0,0);
-ms-transform: rotate(45deg) translate3d(0,0,0);
transform: rotate(45deg) translate3d(0,0,0);
}

.clabel:before, .label:after {
content: '';
position: absolute;
bottom: -4px;
border-top: 4px solid #a71c26;
border-left: 4px solid transparent;
border-right: 4px solid transparent;
}

.clabel:before {
left: 0;
}

.clabel:after {
right: 0;
}



/*  ================================================
                        CONTENT
    ================================================  */
.cspan {
  display: block;
  font-size: 20px;
  color: #ffffff;
}

.cstrong {
  display: block;
  font-size: 85px;
  color: #a52958;
  margin: 0 0 10px 0;
}

.cem {
  display: block;
  font-size: 29px;
  font-style: normal;
  color: #ffffff;
  border-top: 2px dashed rgba(0,0,0,.1);
  padding: 10px 0;
}



/*  ================================================
              ACTION CALL & ARROW UP EFFECT
    ================================================  */
.cbutton {
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  padding: 0;
  line-height: 58px;
  text-align: center;
  border-radius: 0;
  background-color: #d17a7a;
}

.cbutton::before {
  content:"";
  position: absolute;
  top: -10px;
  left: calc(50% - 20px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #d17a7a;
}



/*  ================================================
                    INSIDE TICKET
    ================================================  */


.content {
  height: 260px;
  margin: 8px;
  border: 2px dashed #e0c68e;
  border-radius: 10px;
}

.content h1 {
  font-size: 29px;
  color: #4c483b;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Berkshire Swash', cursive;
}

.pass {
  display: block;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 57px;
  margin: 15px 0 0 15px; 
  padding: 0;
  line-height: 58px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background: #eadbb8;
  border: 1px solid #82113c;
}

.pass::before {
  content:"";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 20px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #eadbb8;
}

.content span {
  margin: 85px 0 0 0;
  text-align: center;
  color: #82113c;
}

.content em {
  border: none;
  text-align: center;
  font-size: 89px;
  color: #eadbb8;
  text-shadow: 1px 1px 0 rgba(0,0,0,.7);
}
</style>
<section style="min-height: 90vh;margin-top: 100px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center mb-5 mt-2">
                <h3>User Profile</h3>
            </div>
            <div class="col-md-5 col-xl-4 mb-4" >
                <div class="card ">
                    <div class="card-header d-flex justify-content-center align-items-center">
                        <h5 class="card-title mb-0">Profile Settings</h5>
                    </div>
                    <div class="list-group list-group-flush " role="tablist">
                        <a class="list-group-item list-group-item-action active" onclick="showDivAndSendGet(this,'/profile')" role="tab">
                            Account
                        </a>
                        <a class="list-group-item list-group-item-action" onclick="manageAddresses(this,'div2')"
                            role="tab">
                            Password
                        </a>
                        <a  data-toggle="list">
                            <button class="list-group-item list-group-item-action" onclick="manageAddresses(this,'div3')" role="tab">
                                Manage Addresses
                            </button>
                        </a>
                        <a class="list-group-item list-group-item-action" id="div4tick" onclick="manageAddresses(this,'div4')"
                            role="tab">
                            Available Coupons
                        </a>
                        <a class="list-group-item list-group-item-action"  onclick="manageAddresses(this,'div5')"
                            role="tab">
                            Wallet
                        </a>
                        <!--<a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                        Widgets
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                        Your data
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                        Delete account
                    </a> -->
                    </div>
                    </div>
            </div>
            
            <div class="col-md-7 col-xl-8 mt-4">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="account" role="tabpanel">
                        <div class="card">
                            <div class="card-header d-flex justify-content-center align-items-center">

                                <h5 class="card-title mb-0">Public info</h5>
                            </div>


                            <div class="card-body-main ps-2" id="div1">
                                <form action="/resetuserdetails" method="post">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                
                                                <label for="inputUsername" style="font-weight: bold;">Username</label><br><br>
                                                <div class="row d-flex">
                                                <div class="col-md-9 text-right d-flex" >
                                                <input type="text" class="form-control" id="inputUsername"
                                                    name="username" placeholder="Username"
                                                    value="<%=username%>" disabled> 
                                                </div>
                                            
                                            <div class="col-md-2">
                                                <!-- Edit icon -->
                                                <i class="bi bi-pencil-square" id="editIcon"
                                                style="cursor: pointer;margin-left: 10%;"></i>
                                            </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="inputEmail" style="font-weight: bold;">Email</label><br><br>
                                                <div class="col-md-9 text-right d-flex" >
                                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="<%=email%>" 
                                                     name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required disabled>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                        <h5>FAQs</h5>
                                        <p style="font-weight: 600;">What happens when I update my email address?</p>
                                        <p>Your login email id changes, likewise. You'll receive all your account related communication on your updated email address .</p>
                                        <p style="font-weight: 600;">When will my yumitees account be updated with the new email address?</p>
                                        <p>It happens as soon as you confirm the verification code sent to your email and save the changes.</p>
                                        <p style="font-weight: 600;">Does my Seller account get affected when I update my email address?</p>
                                        <p>Flipkart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</p>
                                    <br>

                                    <button type="submit" class="btn btn-primary" style="margin-left: 20%;display: none;" id="saveButton">Save changes</button>
                                </form>
                            </div>



                            <div class="card-body hidden-div" id="div2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="card-title">Password</h5>
                                    <label for="" class="text-center"
                                        style="color: red;font-size: smaller;"><%-locals.err?err:""-%></label>
                                    <form action="/changepassword" method="post">
                                        <!-- Current password -->
                                        <div class="form-group">
                                            <label for="inputPasswordCurrent" style="font-weight: 600;">Current password</label>
                                            <br><br>
                                            <input type="password" placeholder="Current Password" name="currentpassword"
                                                class="form-control" id="password1" oninput="validateCurrentPassword()"
                                                required>
                                            <p id="current-password-error" class="current-error-message"
                                                style="color: red; margin-bottom: 10px; font-size: smaller;"></p>
                                                <small style="float: right;margin-right: 7%;"><a style="text-decoration: none;color: rgb(247, 18, 18);" href="/verifyemail">Forgot your password?</a></small>
                                        </div>

                                        <!-- New password -->
                                        <div class="form-group">
                                            <label for="inputPasswordNew" style="font-weight: 600;">New password</label>
                                            <br><br>
                                            <input id="new-password" type="password" placeholder="New Password" class="form-control"
                                                name="password" oninput="validatePassword()" required>
                                            <p id="password-error" class="error-message"
                                                style="color: red; margin-bottom: 10px; font-size: smaller;"></p>
                                        </div>

                                        <!-- Confirm password -->
                                        <div class="form-group">
                                            <label for="inputPasswordNew2" style="font-weight: 600;">Confirm password</label>
                                            <br><br>
                                            <input type="password" placeholder="Confirm Password" class="form-control"
                                                id="inputPasswordNew2" oninput="validateConfirmPassword()" required>
                                            <p id="confirmpassword-error" class="error-message"
                                                style="color: red; margin-bottom: 10px; font-size: smaller;"></p>
                                        </div>
                                        <br>
                                        <button id="create-button" class="btn-delete" type="submit" >Submit</button>
                                    </form>

                                    </div>
                                </div>
                            </div>





                            <div class="card-body hidden-div" id="div4">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 >Available Coupons</h3>
                                        <% if (coupon && coupon.length > 0) { %>
                                        <% coupon.forEach(item => { %>
                                        <div class="ticket">
                                            <div class="datas">
                                              <a class="atag link">
                                                <div class="ribbon">
                                                  <div class="clabel">Expierydate :  <%= new Date(item.validTo).toLocaleDateString(undefined, { year: 'numeric', month: 'numeric', day: 'numeric' }) %>
                                                  </li> </div>
                                                </div>
                                                <span class="cspan"><%=item.description%></span>
                                                <strong class="strong"><%=item.couponCode%></strong>
                                                <em class="cem">Green PASS</em>
                                              </a>
                                            </div>
                                            <a class="atag cbutton">ORDER NOW!</a>
                                          </div>
                                          <% }) %>
                                          
                                          <% } else{ %>
                                            <div>
                                                <h5>No Coupon In Here</h5>
                                              </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>





                            <div class="card-body hidden-div" id="div5">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Wallet</h4>
                                        <div
                                          class="balance-container shadow p-3 mb-5 rounded"
                                          style="
                                            background-color: #eeeeee;
                                            padding: 20px;
                                            display: flex;
                                            border-radius: 10px;
                                          "
                                        >
                                          <img src="/assets/wallet.png" style="width: 50px" alt="" />
                                          <div class="balance text-dark" style="margin-left: 20px">
                                            <h5>Balance:</h5>
                                            <span style="font-weight: bold">₹ <%= WalletUser?.wallet ? WalletUser.wallet : 0 %></span>
                                          </div>
                                        </div>
                                        <% if(WalletUserHist?.length===0||WalletUserHist==null||WalletUserHist!=undefined) {%>
                                        <div>
                                          <h5>No Wallet History</h5>
                                        </div>
                                        <% } else{ %>
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">Index</th>
                                              <th scope="col">Date</th>
                                              <th scope="col">Amount</th>
                                              <th scope="col">Type</th>
                                              <th scope="col">Info</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <% WalletUserHisto.forEach((doc, index) => { %> <%
                                            doc.refund.forEach((refund, refundIndex) => { %>
                                            <tr>
                                              <th scope="row"><%- refundIndex + 1 %></th>
                                              <!-- Displaying the document index -->
                                              <td>
                                                <%- refund?.date.toLocaleString('en-IN', { timeZone: 'Asia/Kolkata',
                                                dateStyle: 'short', timeStyle: 'short' }) %>
                                              </td>
                                              <td><%- refund?.amount %></td>
                                              <td><%- refund?.type %></td>
                                              <td><%- refund?.reason %></td>
                                            </tr>
                                            <% }) %> <% }) %>
                                          </tbody>
                                        </table>
                                        <% } %>
                                    </div>
                                </div>
                            </div>




                            <div class="card-body hidden-div" id="div3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="address-container">
                                            <div class="add-address d-flex">
                                                <div>
                                                    <h2>Manage Address</h2>
                                                </div>
                                                <a class="ms-auto me-0" href="/addaddress?flag=0">
                                                    <button class="add-address-btn p-3" 
                                                style="background-color: rgba(59, 59, 231, 0.753);color: azure;border: none;border-radius: 10%;">
                                                Add Address</button>
                                                </a>
                                                
                                            </div>
                                            <% if (address && address.length > 0) { %>
                                            <% address.forEach(data=> { %>

                                                <ul class="address-list">
                                                    <!-- Sample address item -->
            
                                                    <li class="address-item  p-3 mb-5 mt-3 bg-white rounded" style="box-shadow:  0 7px 7px rgba(0, 0, 0, 0.1);list-style: none;">
                                                        <button type="button" class="badge badge-dark">
                                                            <%= data.addressType %>
                                                        </button><br><br>
                                                        <p><span style="font-weight: bold;">Name: </span><%-data.name-%></p>
                                                        <p><span style="font-weight: bold;">Address: </span><%= data.address %>, <%= data.locality %>, <%= data.city %>, <%=
                                                                            data.district %>, <%= data.state %>
                                                        </p>
                                                        <p><span style="font-weight: bold;">Phone: </span><%-data.mobile-%></p>
                                                        <p><span style="font-weight: bold;">Pin: </span><%-data.pincode-%></p>
            
                                                        <a href="/editaddress/<%=data._id%>"><button class="btn-sm btn-edit"><i
                                                                    class="bi bi-pencil-square"></i> Edit</button></a>
            
                                                        <p hidden>id: <%-data.userId-%></p>
            
                                                        <button class="btn-sm btn-delete" onclick="confirmDelete('<%- data._id %>')">
                                                            <i class="bi bi-trash-fill"></i> Delete
                                                        </button>
                                                        
                                                    </li>
            
                                                    <!-- Add more address items here -->
                                                </ul>
            
            
            
                                                <% }) %>
                                                <% } else{ %>
                                                    <div>
                                                        <h5>No Address Please Add Address</h5>
                                                      </div>
                                                    <% } %>
            
            
                                            
                                        </div>
                                    </div>

                                    </div>

                                </div>
                                
                            </div>
                        </div>

            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Get references to the edit icon and the save button
    var editIcon = document.getElementById('editIcon');
    var saveButton = document.getElementById('saveButton');
    var inputEmail = document.getElementById('inputEmail');
    var inputUser = document.getElementById('inputUsername')

    // Add click event listener to the edit icon
    editIcon.addEventListener('click', function() {

        inputUser.removeAttribute('disabled');
        inputEmail.removeAttribute('disabled');

        // Toggle the visibility of the save button
        saveButton.style.display = (saveButton.style.display === 'none') ? 'inline-block' : 'none';
    });
    inputEmail.addEventListener('input',function(){
        inputEmail.setCustomValidity('')
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if(!emailPattern.test(inputEmail.value)){
            inputEmail.setCustomValidity('Please enter a valid email address')
        }
        else{
            inputEmail.setCustomValidity('')
        }
    })
    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }
    function showSectionFromUrlParam() {
        var section = getUrlParameter('section');
        if (section === 'div4') {
            var listItems = document.querySelectorAll('.list-group-item');
            listItems.forEach(function(item) {
                item.classList.remove('active');
            });
            document.getElementById('div1').classList.add('hidden-div');
            document.getElementById('div2').classList.add('hidden-div');
            document.getElementById('div3').classList.add('hidden-div');
            document.getElementById('div4').classList.remove('hidden-div');
            document.getElementById('div5').classList.add('hidden-div');
            document.getElementById('div4tick').classList.add('active');
        }
    }


    window.onload = function() {
        showSectionFromUrlParam();
    };
</script>
<% if (typeof successMessage !== 'undefined' && successMessage !== null) { %>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '<%= successMessage %>',
            showConfirmButton: false,
            timer: 3000
        });
    </script>
<% } %>
<% if (typeof errorMessage !== 'undefined' && errorMessage !== null) { %>
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '<%= errorMessage %>',
            showConfirmButton: false,
            timer: 3000
        });
    </script>
<% } %>


<%-include("../partials/userfooter.ejs")-%>
<%-include("../layout/userfooter.ejs")-%>