<%-include("../layout/userheader.ejs")-%>
<link rel="stylesheet" href="../../public/stylesheet/whishlist.css">
<%-include("../layout/usercentre.ejs")-%>
<%-include("../partials/usernavbar.ejs")-%>
<div class="santa-app">
    <div class="menu">
      <i class="fa fa-scroll"></i>
      <div>WHISHLIST</ div>
      <i class="fa fa-ellipsis-h"></i>
    </div>
    <div class="tabs">
      <div>Seen</div>
      <div class="active">Want</div>
      <div>Like</div>
    </div>
    <div class="content">
      <div class="gift-card">
        <div class="actions">
          <i class="fa fa-heart"></i>
        </div>
        <img src="https://image.flaticon.com/icons/svg/1153/1153054.svg"></img>
        <div class="title">
          Train
        </div>
        <div class="description">
          Funny toy made by wood.
        </div>
      </div>
    <div class="gift-card">
        <div class="actions">
          <i class="fa fa-heart"></i>
        </div>
        <img src="https://image.flaticon.com/icons/svg/818/818897.svg"></img>
        <div class="title">
          Duck
        </div>
        <div class="description">
          She can help programmers too.
        </div>
      </div>
  <div class="gift-card">
        <div class="actions">
          <i class="fa fa-heart"></i>
        </div>
        <img src="https://image.flaticon.com/icons/svg/191/191582.svg"></img>
        <div class="title">
          Robot
        </div>
        <div class="description">
          Makes funny noises.
        </div>
      </div>
  <div class="gift-card">
        <div class="actions">
          <i class="fa fa-heart"></i>
        </div>
        <img src="https://image.flaticon.com/icons/svg/191/191563.svg"></img>
        <div class="title">
          Doll
        </div>
        <div class="description">
          If you don't feed her, she will cry.
        </div>
      </div>
    </div>
  
    <div class="action">
      <div>
        <i class="fa fa-plus"></i>
      </div>
    </div>
  </div>
<%-include("../partials/userfooter.ejs")-%>
<%-include("../layout/userfooter.ejs")-%>